# Editable install with no version control (ai-coding-agent==0.1.0)
-e /home/alphaxcc/meta/poc/cookiecutter-ai-coding-agent/{{cookiecutter.project_slug}}
altair==5.5.0
annotated-types==0.7.0
anyio==4.9.0
arrow==1.3.0
attrs==25.3.0
binaryornot==0.4.4
blinker==1.9.0
cachetools==5.5.2
certifi==2025.4.26
cffi==1.17.1
chardet==5.2.0
charset-normalizer==3.4.2
click==8.2.0
cloudpickle==3.1.1
cookiecutter==2.6.0
crewai==0.120.1
cryptography==44.0.3
distro==1.9.0
docker==7.1.0
durationpy==0.9
elastic-transport==8.17.1
elasticsearch==8.18.1
feedgen==1.0.0
gitdb==4.0.12
GitPython==3.1.44
google-auth==2.40.1
groq==0.25.0
gym==0.26.2
gym-notices==0.0.8
h11==0.16.0
httpcore==1.0.9
httpx==0.28.1
idna==3.10
iniconfig==2.1.0
Jinja2==3.1.6
json_repair==0.44.1
jsonschema==4.23.0
jsonschema-specifications==2025.4.1
kafka-python==2.1.5
kubernetes==32.0.1
lxml==5.4.0
markdown-it-py==3.0.0
MarkupSafe==3.0.2
mdurl==0.1.2
narwhals==1.39.0
numpy==2.2.5
oauthlib==3.2.2
packaging==24.2
pandas==2.2.3
pdfminer.six==20250506
pillow==11.2.1
pluggy==1.5.0
prettytable==3.16.0
protobuf==6.30.2
psutil==7.0.0
pyarrow==20.0.0
pyasn1==0.6.1
pyasn1_modules==0.4.2
pybreaker==1.3.0
pycparser==2.22
pydantic==2.11.4
pydantic-settings==2.9.1
pydantic_core==2.33.2
pydeck==0.9.1
pyecharts==2.0.8
Pygments==2.19.1
pytest==8.3.5
python-dateutil==2.9.0.post0
python-docx==1.1.2
python-dotenv==1.1.0
python-slugify==8.0.4
pytz==2025.2
PyYAML==6.0.2
redis==5.2.1
referencing==0.36.2
requests==2.32.3
requests-oauthlib==2.0.0
rich==14.0.0
rpds-py==0.24.0
rsa==4.9.1
simplejson==3.20.1
six==1.17.0
smmap==5.0.2
sniffio==1.3.1
streamlit==1.45.0
streamlit-echarts==0.4.0
tenacity==9.1.2
text-unidecode==1.3
toml==0.10.2
tornado==6.4.2
types-python-dateutil==2.9.0.20241206
typing-inspection==0.4.0
typing_extensions==4.13.2
tzdata==2025.2
urllib3==2.4.0
watchdog==6.0.0
wcwidth==0.2.13
websocket-client==1.8.0
